.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--third-bg-color);
}

.header-logo {
  padding-top: 20px;
  text-align: center;
  z-index: 1;
}

.header-logo > h1{
  font-size: 9rem;
}

.header-logo > h2{
  font-size: 2rem;
  color: var(--main-bg-color);
}

.header-social-media {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13vw;
  z-index: 1;
}

.header-social-media > a{
  object-fit: cover;
}

.nav-icon {
  font-size: 1.2rem;
  color: var(--main-bg-color);
}

.nav-icon:hover {
  color: var(--second-bg-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  z-index: 1;
  font-size: 1.2rem;
  background: transparent;
}

.navbar.nav-fixed {
  position: fixed;
  opacity: 0;
  top: -100%;
  background: var(--third-bg-color);
  transition: all 0.4s ease;
}

.navbar.nav-fixed.active {
  opacity: 1;
  top: 0;
  background: var(--third-bg-color);
  transition: all 0.4s ease-out;
}

.navbar-logo {
  display: flex;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 2rem;
  transform: translate(10%, 90%);
}

.navbar-logo.active {
  opacity: 1;
}

.nav-menu {
  display: flex;
  width: 60vw;
}

.nav-item {
  display: flex;
  align-items: center;
  max-height: 80px;
  flex: 1 1 auto;
  justify-content: center;
}

.nav-links {
  color: var(--main-bg-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.nav-links:hover {
  color: var(--second-bg-color);
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

#drawings img {
  position: absolute;
  top: 0;
  z-index: 0;
  object-fit: contain;
  max-height: 327px;
}

#left_drawing {
  left: 0;
}

#right_drawing {
  right: 0;
}

@media screen and (max-width: 960px) {

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: var(--third-bg-color);
  }
  
  .header-logo {
    display: none;
  }
  
  .header-social-media {
    display: none;
  }

  .navbar.nav-fixed {
    opacity: 1;
    top: 0;
  }

  .navbar-logo {
    opacity: 1;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--third-bg-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 35%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    font-size: 1.5rem;
  }
}