.slider {
    display: flex;
    flex-flow: row nowrap;
    height: 600px;
}

.slider-item {
    display: flex;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 600px;
    opacity: 0;
    transition: all 1.2s ease;
}

.slider-item.active {
    visibility: visible;
    opacity: 1;
}

.slider-image {
    width: 100%;
    object-fit: cover;
}

.slide-item-content {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 10%;
}

.slide-item-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.slide-title {
    color: white;
    font-size: 4rem;
    line-height: 0.9;
    padding-bottom: 2.4rem;
}

.slide-text {
    color: white;
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 3rem;
}

.slide-button {
    color: white;
    font-weight: bold;
    background-color: var(--second-bg-color);
    border-radius: 9999px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s ease-in;
}

.slide-button:hover {
    background-color: var(--third-bg-color);
}

.slide-index-button {
    left: 48%;
    width: 5%;
    justify-content: space-between;
    
}

.slide-index-button > button{
    color: white;
    font-size: 3rem;
}

.slide-index-button > button.active{
    color: var(--second-bg-color);
}

@media screen and (max-width: 1280px) {
    .slide-item-content {
        position: absolute;
        width: 80%;
        height: 50%;
        top: 20%;
        left: 10%;
    }
}

@media screen and (max-width: 370px) {
    .slide-title {
        font-size: 15vw;
    }
    
    .slide-text {
        color: white;
        font-size: 8vw;
        line-height: 1;
    }

    .slide-button {
        font-size: 6vw;
    }
}