
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrap {
  display: flex;
  height: calc(100vh - 80px);
  min-height: 100%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
  height: 142px; 
}