
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrap {
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 80px);
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
  height: 142px; 
}

.title-big_main-color {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  color: var(--main-bg-color);
  background-color: var(--fifth-bg-color);
  height: 80px;
  width: 100%;
}

.title-big_second-color {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  color: var(--second-bg-color);
  background-color: var(--main-bg-color);
  height: 600px;
  width: 100%;
}

.title-medium, .title-medium:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--third-bg-color);
  height: auto;
  padding: 40px;
  letter-spacing: 0.3rem;
}

.subtitle, .subtitle:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--third-bg-color);
  height: auto;
  letter-spacing: 0.2rem;
}