@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #f6e9d7;
  --second-bg-color: #f8a5a4;
  --third-bg-color: #6b8297;
  --fourth-bg-color: #64a1a4;
  --fifth-bg-color: #b3bfa4;
  --sixth-bg-color: #ffd591;
}

@font-face {
  font-family: 'Momcake-Bold';
  src: url('./fonts/momcake/Momcake-Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'Momcake-Thin';
  src: url('./fonts/momcake/Momcake-Thin.otf') format('OpenType');
}

body {
  margin: 0;
  margin-bottom: 0;
  font-family: 'Momcake-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6e9d7;/*#faf6eb;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
  font-family: 'Momcake-Bold', -apple-system;
  color: var(--main-bg-color);
  line-height: 0.9;

}

h1:hover {
  color: var(--second-bg-color);

}

p {
  color: var(--fourth-bg-color);
  font-family: momcake, -apple-system;
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}